.card, .card-header, #name, #short_name, #logo, #cover {
    /* border-color: cornflowerblue !important; */
    border-color: rgb(148, 180, 240) !important;
}

.system{
    color: rgb(228, 234, 245);
}

#cimg{
    height: 15vh;
    width: 15vh;
    object-fit: scale-down;
    border-radius: 100% 100%;
}

#cimg2{
    height: 50vh;
    width: 100%;
    object-fit: contain;
}